body {
  font-family: Verdana, sans-serif;
  font-size: 100%;
  padding-bottom: 6ch;
}

html {
  max-width: 900px;
  padding-left: 2%;
  padding-right: 3%;
  margin: 0 auto;
  background: #e1e6e1;
}

#nombre_web {
  font-weight: bold;
  font-size: 22px;
  background: rgb(226,226,226);
  background: linear-gradient(90deg, rgba(226,226,226,1) 0%, rgba(210,255,208,1) 50%, rgba(121,255,100,1) 100%);
  padding: 1ch;
  width: 50%;
  height: 3vh;
  margin: 1em auto;  
  box-shadow:   -15px 0 0 0 black,
                 15px 0 0 0 black,
                 0 -15px 0 0 black,
                 0 15px 0 0 black;
}

time {
  padding-top: 3ch;
  display:inline-block;
}

h1 {
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
  margin-top: 2ch;
  border-bottom: 1px solid grey;
}

h2 {
  font-weight: bold;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 0.3em;
}

pre {
  background-color: white;
  border: 1px solid Black;
  padding-left: 2%;
  padding-top: 1ch;
  padding-bottom: 1ch;
  /* Only take care of X overflow since this is the only part that can be too wide.
         The Y axis will never overflow.
      */
  overflow: hidden;
}

header {
  font-weight: bold;
  margin-top: 2ch;
  text-align: center;
}

footer {
  margin-top: 4ch;
  text-align: center;
}

.flotante {
  border:solid black 1px;
  width: 20%;
  height: auto;
  float:right;
  margin-left:2ch;margin-bottom:2ch;
}